.layout3-container {
  background-color: #ffffff;
  height: 100vh;
  flex-direction: column;
  display: flex;
  padding-left: 4rem;
}

.layout3-header {
  background-color: #ffffff;
  flex: 0;
}

.layout3-titleRow {
  height: 7rem;
}

.layout3-titleBackdrop {
  display: block;
  position: absolute;
  width: 100%;
  height: 8rem;
  background-image: url('../../images/leaves.jpg');
  opacity: 0.2;
}

.layout3-title {
  margin: 1rem 4rem;
  position: relative;
}

.layout3-subtitle {
  font-size: 14pt;
  margin: 0 4rem;
  position: relative;
}

.layout3-navbar {
  background-color: #503050;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  width: 4rem;
  transition: width 0.1s ease-out;
  margin-left: -4rem;
}

.layout3-navbar--open {
  width: 16rem;
}

.layout3-navbar--open > .layout3-navbarHeader {
  width: 16rem;
}

.layout3-navbarHeader {
  height: 8rem;
  width: 0;
  overflow: hidden;
  text-align: center;
  padding: 2rem 0;
  font-size: 24pt;
  color: #ffffff;
}

.layout3-navbarSubheader {
  margin-top: 1rem;
  font-size: 16pt;
}

.layout3-navLink {
  color: white;
  height: 3rem;
  display: flex;
  text-decoration: none;
  z-index: 10;
  width: 4rem;
}

.layout3-navbar--open > .layout3-navLink {
  width: 16rem;
}

.layout3-navLink--selected {
  background-color: #ffffff;
  color: #503050;
  position: relative;
  z-index: 11;
}

.layout3-navLinkName {
  margin: auto 1rem;
  overflow-x: hidden;
  flex: 1;
}

.layout3-navLinkIconContainer {
  display: flex;
  width: 4rem;
  margin: auto;
}

.layout3-navLinkIconContainer > .layout3-navLinkIcon {
  margin: auto;
  width: 4rem;
}

.layout3-navToggle {
  height: 5rem;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  font-size: 24pt;
  outline: none;
  cursor: pointer;
}

.layout3-navToggleClosed {
  display: none;
}

.layout3-navToggleOpen {
  display: inline-block;
}

.layout3-navToggle--open > .layout3-navToggleClosed {
  display: inline-block;
}

.layout3-navToggle--open > .layout3-navToggleOpen {
  display: none;
}

.layout3-body {
  flex: 1;
  padding: 1rem 1rem 0 1rem;
}
